.text {
  @extend %notosans-regular;
  margin-bottom: 20px;
  font-size: 40px;
}

canvas {
  display: block;
}

button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ccc;
  padding: 5px;
}
